header {
  border-bottom: 1px solid var(--gray);
}

header > .container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}

.container > .column {
  display: grid;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.site-title {
  font-size: 2rem;
  font-weight: 600;
}

.current-day,
.stimulated-day {
  text-align: center;
}