header {
  border-bottom: 1px solid var(--gray);
}

header > .container {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
}

.site-title {
  font-size: 2rem;
  font-weight: 600;
}

.current-day,
.stimulated-day {
  text-align: center;
}