header {
  border-bottom: 1px solid var(--gray);
}

.container {
  display: grid;
    grid-template-columns: repeat(1, 1fr);
  grid-gap: 1rem;
}

.column {
  display: grid;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.site-title {
  font-size: 2rem;
  font-weight: 600;
}

.current-day,
.stimulated-day {
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .container {
    grid-template-columns: repeat(4, 1fr);
  }
}