<header>
    <div class="container">
        <div class="column title">
            <h1 class="site-title">{{ title }}</h1>
        </div>

        <div class="column current-day">
            Current Day
            <p>{{ currentDay }}</p>
        </div>

        <div class="column stimulated-day">
            Stimulated Day
            <p>{{ stimulatedDay | date: dateFormat }}</p>
        </div>

        <div class="column btn">
            <button (click)="onNextDay()" class="primary-btn">Next Day</button>
        </div>
    </div>
</header>