<div class="container" *ngIf="stocks">
    <ul class="unstyle stock-list">
        <li *ngFor="let stock of stocks" class="stock-list-item container">
            <div class="column brand">
                <span>{{ stock.name[0] }}</span>
            </div>

            <div class="column company">
                <h3 class="company-name">
                    {{ stock.name }}
                </h3>
            </div>

            <div class="column symbol">
                <p class="ticker-symbol">
                    {{ stock.symbol }}
                </p>
            </div>

            <div class="column value">
                <p class="initial-value">
                    {{ stock.price | currency }}
                </p>
                <p class="initial-value-label sub-text">
                    Initial value
                </p>
            </div>

            <div class="column current">
                <p
                    class="current-value"
                    [class.green-text]="stock.change && stock.change > 0"
                    [class.red-text]="stock.change && stock.change < 0"
                    [title]="stock.current"
                >
                    {{ stock.current || stock.price | currency  }}
                </p>
                <p class="current-value-label sub-text">
                    Current value
                </p>
            </div>

            <div class="column change">
                <p
                    class="change-value"
                    [class.green-text]="stock.change && stock.change > 0"
                    [class.red-text]="stock.change && stock.change < 0"
                >
                    <span class="change-net">{{ stock.change || 0 | currency  }}</span>
                    <span class="change-percent">{{ stock.changePercentage || 0  | percent }}</span>
                </p>
                <p class="change-value-label sub-text">
                    All time change
                </p>
            </div>

        </li>
    </ul>
</div>